
@{
    ViewBag.Title = "Product";
}

<div data-role="page" id="Product" style="padding:40px">

    <div class="panel-heading">
        <div class="panel-body" id="productBlock"></div>
        <div>
</div>
