
@{
    ViewBag.Title = "List";
}

<h2>Список товаров</h2>

<div data-role="page" id="List" style="padding:40px">
    <div id="Errors" style="width:60%; height:50px;"></div>

    <div class="panel-heading">
        <div class="panel-body" id="productListBlock"></div>
        <div>
</div>
